{
  "sboxDevPath": "D:/Steam/steamapps/common/sbox/sbox-dev.exe",
  "projectPath": "D:/Steam/steamapps/common/sbox/dxrp/game/rp.sbproj",
  "serverToken": "PASTE_DXRP_SERVER_TOKEN_FROM_dxrp.net",
  "api": "production"
}
