{
  "token": "",
  "repoUrl": "https://github.com/dxura/dxrp.git",
  "branch": "main",
  "apiEndpoint": "https://api.dxrp.net",
  "verifyAddons": false,
  "map": "",
  "extraArgs": "+port 27015 +net_query_port 27016 +hostname \"LIFEPUNCH™ Official | 70p | ₿\""
}
